@using LibraryManagement.Models
@using LibraryManagement.Models.ViewModels
@model Author
@{
    ViewBag.Title = "Add Author";
    Layout = "_Layout";
}

<div class="container">
    <h2>Create New Author</h2>
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" type="date" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </form>
</div>