@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="container">
    <h2>About Our Library</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p>We are dedicated to providing access to quality books and resources for our community. Our library management system helps track and manage our growing collection efficiently.</p>
        </div>
        <div class="col-md-6">
            <h3>Features</h3>
            <ul>
                <li>Manage books and authors</li>
                <li>Track available copies</li>
                <li>View detailed information</li>
                <li>Easy-to-use interface</li>
            </ul>
        </div>
    </div>
    
</div>