@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Library</h1>
    <p class="lead">Manage your books and authors efficiently</p>
</div>